<%= form_with(model: log_in, local: true) do |form| %>
  <% if log_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log_in.errors.count, "error") %> prohibited this log_in from being saved:</h2>

      <ul>
        <% log_in.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

  <div id="id01" class="modal">

    <form class="modal-content animate" action="/action_page.php" method="post">

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <label>
          <input type="text" placeholder="Enter Username" name="uname" required>
        </label>

        <label for="psw"><b>Password</b></label>
        <label>
          <input type="password" placeholder="Enter Password" name="psw" required>
        </label>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:transparent">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>
<% end %>
