<p id="notice"><%= notice %></p>
    <div class="centered-one">
      <table>
        <thead>
        <tr>
          <p>Whether it be a tool for self-expression, a means to be inspired, or a safe-space to write down
            your most personal thoughts, Quill is here to give you the freedom to be creative without the
            pressures of social media. NO obsessing on likes. NO obsessing over number of followers. Just writing,
            reading, and creating. Quill is a time capsule that captures who you are in the words you write.
            Share what you want with your groups. Save your words for the future. It all begins and ends with YOU. </p>
        </tr>
        </thead>
      </table>
</div>
<div class="top-right ">
  <div class="container-two">
    <div class="navybar">
      <a  href="topics.scss">Topics</a>
      <a  href="articles.scss">Articles</a>
      <a  href="featured_topics.scss">Featured Topic</a>
      <a  href="featured_articles.scss">Featured Article</a>
      <a  href="archives.scss">Archive</a>
      <a  href="settings.scss">Settings</a>
      <a  href="welcomes.scss">Community</a>
      <a  href="abouts.scss">About</a>
    </div>
  </div>
</div>
<br>

<!-- <%= link_to 'New About', new_about_path %>
<%= link_to 'Log out',   destroy_user_session_path,method: :delete%>
