/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*!* Top right text *!*/
/*.top-right {*/
/*    position: absolute;*/
/*    color: black;*/
/*    top: 8px;*/
/*    right: 16px;*/
/*}*/
/*body {*/
/*    font-family: "Lato", sans-serif;*/
/*    transition: background-color .5s;*/
/*    background-image: url(quillicon.png);*/
/*    background-size: cover;*/
/*}*/

/*.sidenav {*/
/*    height: 100%;*/
/*    width: 0;*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color: #111;*/
/*    overflow-x: hidden;*/
/*    transition: 0.5s;*/
/*    padding-top: 60px;*/
/*}*/

/*.sidenav a {*/
/*    padding: 60px 8px 8px 32px;*/
/*    text-decoration: none;*/
/*    font-size: 25px;*/
/*    color: #818181;*/
/*    display: block;*/
/*    transition: 0.3s;*/
/*}*/

/*.sidenav a:hover {*/
/*    color: #f1f1f1;*/
/*}*/

/*.sidenav .closebtn {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 25px;*/
/*    font-size: 36px;*/
/*    margin-left: 50px;*/
/*}*/

/*#main {*/
/*    transition: margin-left .5s;*/
/*    padding: 16px;*/
/*}*/

/*@media screen and (max-height: 450px) {*/
/*    .sidenav {padding-top: 15px;}*/
/*    .sidenav a {font-size: 18px;}*/
/*}*/
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: url(quillicon.png);
    background-size: cover;
}

.container-two {
    position: relative;
    text-align: center;
    color: white;
    font-size: larger;
    font-style: oblique;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;

}

.navybar {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navybar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: oblique;
    font-size: 17px;
}

/* Change the color of links on hover */
.navybar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navybar a.active {
    background-color: #4CAF50;
    color: white;
}