// Place all the styles related to the Archives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  position: relative;
  text-align: center;
  color: white;
}

.style_image {
  width: 100vw;
  min-height: 40vh;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}